/* || General Styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}
h1,h2,h3,h4,h5,h6{
    font-family: "Libre Baskerville";
}
.mainContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    max-width: 1200px;
    width: 100%;
    font-weight: 700;
}
.btn{
    padding: 15px 30px;
    border: 2px solid #475F45;
    text-decoration: none;
    color: #475F45;
    text-transform: uppercase;
}
/* || Header And Navigation Styles */
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 14px;
    padding-bottom: 15px;
}
.headerLogo{
    display: flex;
    align-items: center;
    gap: 14px;
}
.headerLogo span{
    display: block;
}
.headerBottomText{
    font-size: 15px;
    font-style: italic;
    color: #333333;
    letter-spacing: 1px;
    font-weight: 400;
}
.headerLogo span:first-of-type{
    color: #343D33;
    font-size: 23px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 4px;
}
.navigationItems{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
}
.navigationItems a{
    text-decoration: none;
    color: #414840;
    font-size: 14px;
    letter-spacing: 2px;
}

/* || Hiro Styles */
.hiroContainer{
    padding-bottom: 115px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 56px;
}
.hiroHeading{
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.hiroHeading h1{
    font-size: 57px;
    color: #343D33;
    text-transform: capitalize;
    white-space: pre-line;
}
.hiroHeading p{
    font-size: 25px;
    font-weight: 300;
    white-space: pre-line;
}
.hiroText{
     display: flex;
     flex-direction: column;
     gap: 52px;
}
.hiroBtn{
    color: #ffffff;
    background-color: #475F45;
}
.hiroButtons{
    display: flex;
    align-items: center;
    gap: 16px;
}