/* For Tablet */

@media screen and (max-width: 1024px) and (min-width: 768px) {
    header{
        padding: 0 16px;
    }
    .navigationItems{
        display: none;
    }
    .hiroContainer{
        flex-direction: column;
        align-items: center;
        gap: 64px;
        padding-bottom: 70px;
    }
    .hiroText{
        align-items: center;
        text-align: center;
    }
    nav::after{
        content: url(../icons/burgerMenu.svg);
        background-repeat: no-repeat;
        cursor: pointer;
    }
    .middleText{
        order: 1;
    }
    .middleBottomImage, .middleTopImage {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .middleBottomImage img{
        width: 534px;
    }
    .middleContentContainer{
        gap: 40px;
    }
}

/* For Mobile */

@media screen and (max-width: 767px) {
    nav::after{
        content: url(../icons/burgerMenu.svg);
        background-repeat: no-repeat;
        cursor: pointer;
    }
    header{
        padding: 0 16px;
    }
    .navigationItems{
        display: none;
    }
    .hiroContainer{
        flex-direction: column;
        align-items: center;
        gap: 56px;
        padding-bottom: 64px;
    }
    .hiroText{
        align-items: center;
        text-align: center;
        gap: 24px;
    }
    .hiroImage img{
        width: 254px;
    }
    .hiroText h1, .middleText h2{
        font-size: 34px;
    }
    .middleText p{
        font-size: 16px;
    }
    .hiroText p{
        font-size: 20px;
    }
    .middleText{
        order: 1;
        text-align: center;
    }
    .middleBottomImage, .middleTopImage {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .middleBottomImage img{
        width: 344px;
    }
    .middleTopImage img{
        width: 344px;
    }

    .middleContentContainer{
        gap: 16px;
    }
}